*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: -2.5%;
}
body{
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
}
.btn-blue{
  display: inline-block;
  padding: 17px 40px;

  background-color: #3685FB;
  color: white;
  border-radius: 50px;


  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.025em;
}



header{
  display: flex;
  padding-top: 72px;
  justify-content: space-between;
  align-items: center;

}
.header__logo{

  padding-left: 100px;

}
.header__logo img{
  width: 180px;
}
.header__menu{
  display: inline-block;
  padding-right: 100px;
}
li.header__menu-item{
  display: inline-block;
  list-style-type: none;
}
li.header__menu-item a{
  margin-left: 44px;
 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  text-decoration: none;
  cursor: pointer;
}
li.header__menu-item a:hover{
  color: #3685FB;
}
li.header__menu-item a.header__menu-btn:hover{
  color: white;
}

.header__menu-active{
  color: #3685FB;
}
.header__menu-btn{
  display: inline-block;
  padding: 17px 40px;

  background-color: #3685FB;
  color: white;
  border-radius: 50px;


  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.025em;
}

/* -----------------------
-------promo section---
----------------------- */
.section__promo{
  width: 100%;
  margin-top: 135px;
  margin-bottom: 171px;
}
.promo{
  /* margin-top: 160px; */
  margin: auto 160px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content:space-around;
  min-height: 620px;
}
@media (max-width: 1200px){
  .promo{
    flex-direction: column;
  }

}
.promo__img{
  position: relative;
  min-width: 614px;
}
.promo__img img{
  display: inline-block;

  border: 9px solid #F8F8F8;
  box-shadow: 0 5px 15px rgb(0, 0, 0, .4) ;
}
.promo__img-left{

  max-width: 450px;
  border-radius: 250px;
}
.promo__img-right{
  position:absolute;
  top: 130px;
  left: 260px;
  
  max-width: 356px;
  border-radius: 197px;
}
.promo__text{
  max-width: 860px;
  /* margin-left: 84px; */
  margin-bottom: 24px;
}
.promo__text h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 68.385px;
  line-height: 96px;
  letter-spacing: -0.025em;
  color: #091F3F;
}
.promo__text h1 span{
  display: flex;
}
.promo__text h1 span img{
  display: inline-block;
  width: 325px;
  margin-left: 25px;
}
.promo__text p{
  margin-top: 50px;
  margin-bottom: 35px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;

  color: #898989;
}
.promo__text-btn{
    display: inline-block;
    padding: 20px 70px;
  
    background-color: #3685FB;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;  
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.025em;
}

/* -----------------------
-------booking section---
----------------------- */
section.section__booking{
  height: 810px;
  width: 100%;
}
.booking{
  position:relative;
  height: 810px;
}
.booking__pinkblock{
  position:absolute;
  top:-97px;
  min-height: 540px;
  width: 100%;
  background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
  z-index:-1000;
}
.booking__main{
  min-height: 713px;
  width: 70%;
  margin: 0 auto;
  background-color: blue;
  background-image: url('../img/bg/booking_bg.jpg');
}
.booking__main h2{
  padding-top: 465px;
  padding-bottom: 35px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
  letter-spacing: -0.025em;

  color: #FFFFFF;
  text-align: center;
}
a.booking__main-btn{
  display:block;
  padding-top:22px;
  text-align: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.025em;

  background: linear-gradient(90deg, #E246EF 0%, #469EEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

}
div.booking__main-btnbg{
  margin: 0 auto;
  width: 261px;
  height: 72px; 
  border-radius: 50px;
  background-color: #fff;
}