.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  .header__container {
  max-width: $maxWidthContainer;
  min-height: $menuHeaderHeight;
  padding: 0 30px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  }
  
  .header__logo {
    img{
      height: 50px;
      width: auto;
      @media(max-width: $maxWidthSwitchBurger){
        width: 180px;
        height: auto;
      }
    }
  }
  .menu__link {
    &:hover{
      color: $main_color;
    }
    &.active{
      color: $main_color;
    }
    &.btn{
      max-width: 181px;
      padding: 17px 40px;
  
      background-color: $main_color;
      color: white;
      border-radius: 50px;
  
      font-family: $mainFont;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.025em;
    }
  }
}