header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20;
  .container{
    max-width: $maxWidthContainer;
    min-height: 154px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media(max-width: 1200px){
    flex-direction: column;
  }
  @media(max-width: 480px){
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header__logo{
    padding-left: 100px;
    @media(max-width: 1320px){
      padding-left:0;
      padding: 72px auto;
    }
    img{
      width: 180px;
    }
  }

}