section.section__package{
  position: relative;
  h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.025em;

    text-align: center;
    color: #222222;
    padding-top: 110px;
    padding-bottom: 49px;
  }
  .pink{
    position:absolute;
    top:0px;
    min-height: 510px;
    width: 100%;
    background: #F6F4FF;
    z-index:-1000;
  }
  .containter{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  
    max-width: 1468px;
    margin: 0 auto;
    @media(max-width: 1500px){
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
    }
    
    .item{
        width: 436px;
        min-height: 700px;
        margin-bottom: 149px;
        @media(max-width: 1500px){
          margin: 0 auto;
          margin-bottom: 149px;

        }

        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.13);
        // box-shadow: 0 5px 15px rgb(0, 0, 0, .4) ;
        border: 4px solid #fff;
        border-radius: 20px;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        h3{
          margin-left: 45px;
          margin-top: 71px;

          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          letter-spacing: -0.025em;

          color: #000000;
        }
        ul{
          margin-top: 93px;
          margin-bottom: auto;
          margin-left: 45px;
          list-style: none;
          li {
            margin-bottom: 5px;
            position: relative;
            padding-left: 34px;
            padding-bottom: 27px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            // line-height: 34px;
            letter-spacing: -0.025em;

            a{
              color: #000000;
              text-decoration: none;
            }
          }
          li:before {
            content: '\25BA';
            color: #000;
            font-size: 28px;
            position: absolute;
            top: 20px;
            left: -10px;
            line-height: 0;
          }
        }
        .item-btn{
          margin: 58px 34px 58px 34px;

          display: inline-block;
          padding: 27px 120px;
        
          background-color: #3685FB;
          color: white;
          border-radius: 15px;
          text-decoration: none;
          cursor: pointer;  
        
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          letter-spacing: -0.025em;
        }
    }
    .vip{
      width: 502px;
      background-color: #A18CD1;
      h3{
        color: #fff;
        text-align: center;
        margin-top: 248px;
        margin-left: 0;
      }
      .vip-btn{
        margin: 96px 60px 248px 60px;

        display: inline-block;
        padding: 27px 120px;
      
        background-color: #fff;
        color: #3685FB;
        border-radius: 15px;
        text-decoration: none;
        cursor: pointer;  
      
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        letter-spacing: -0.025em;
      }
    }
  }
}