section.section__questions{
  margin-top: 149px;
  background: url('../img/bg/question_bg.jpg') center center/cover no-repeat;
  min-height:1080px;
  .container{
    h2{
      max-width: 493px;
      min-height: 360px;
      margin-left: 100px;
      padding-top: 119px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 99px;
      line-height: 120px;
      letter-spacing: -0.025em;

      color: #FFFFFF;
      @media(max-width: 480px){
        padding-top: 15px;
        margin-left: 0;
        max-width: 100%;
        max-height: auto;
        font-size: 60px;
        text-align: center;
      }
    }
    &__btn{
      margin-left: 100px;
      margin-top:402px;
      margin-bottom: 127px;
      border-radius: 15px;
    }
  }
}