*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;

}
body{
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
}
.wrapper{
  height: 100%;
}
.btn__gradient-bg{
  width: 261px;
  height: 72px; 
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__gradient{
  display:block;
  text-align: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.025em;

  background: linear-gradient(90deg, #E246EF 0%, #469EEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}